@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genres: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
    <li>
        Add To the Database: @Model.AddedTime.ToShortDateString()
    </li>
    <li>Available Stock: @Model.Stock</li>
</ul>

